#---------------------------------- HTTP
http.url.host=localhost
http.url.port=8081
http.response.timeout=60000


http.url.jpm.path=jpmorgan
http.url.clean.path=jpmorgan/clean


#++++++++++++++++++++++++++++++++ Email
mail.server=mail.services.ifis.it
mail.error.subject=SVIL : Errore Retail 
mail.error.from=simplestock@jpmorgan.uk
mail.error.to=defant.alessio@gmail.com
mail.error.cc=


